.app{
  background-image: linear-gradient(yellow, orange);
}

.header {
  text-align: center;

}

.textbox {
  background-color: #ff2cc0;
  position: absolute;
  left: 100px;
  width: 40%;
  text-align: center;
}

.result {
  position: absolute;
  right: 100px;
  width: 50%;
  background-color: #1eb644;
  text-align: center;
}

