body {
  background-image: linear-gradient(to right, rgb(6, 243, 243), rgb(45, 219, 59));;
  font-family: Verdana;
}

.header {
  text-align: center;
}

.textbox {
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 100px;
  width: 40%;
  text-align: center;
}

.result {
  position: absolute;
  top: 140px;
  bottom: 150px;
  right: 100px;
  width: 50%;
  text-align: center;
}

textarea {
  width: 500px;
  resize: none;
}

