body {
  background-image: url("background_spam.jpg");
  background-size: cover;
  font-family: Verdana;
  color: antiquewhite;
}

.header {
  text-align: center;
}

.textbox {
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 100px;
  width: 40%;
  text-align: center;
}

.result {
  position: absolute;
  top: 115px;
  bottom: 250px;
  right: 100px;
  width: 50%;
  text-align: center;
  border-color: black;
}

textarea {
  width: 600px;
  font-size: 16px;
  resize: none;
}

.message {
  font-size: 20px;
}

.emoji {
  margin: auto;
  font-size: 100px;
}

.submitButton {
  width: 200px;
  height: 40px;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 45%;
  background-color: rgb(209, 207, 204);
}

.submitButton:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color:rgb(174, 179, 179);
}

.score{
  text-align: center;
}

